*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing:border-box;
}

body{
    background: #f7f7f7;
    color: rgb(25, 27, 27);
}

/*--------------------------*HOME PAGE*------------------------*/
#header{
    width: 100%;
    height: 40vh;
    background-image: url(IMG.jpg/Head\ picture.jpeg);
    border-image-width: 80px ;
    background-size: cover;
    background-position: center;
    
}
.logo{
    width: 140px;
}


.navbar{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a{
    color: #1b1919;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100% ;

}    

/*Animate text*/
.h2{
    display: flex;
}
.t-text{
    
    padding-top: 200px;
    margin-left: 60px;
    position: relative;
}
.t-animate .text{
   
    position: relative;
    color: #ff004f;
    font-size: 30px;
    font-weight: 600;
}
.t-animate .text.first-text{
    color: #090909;
    
}
 .t-animate{ 
    
    left: calc(100% + 4px);
    position:flex;
    }

/*--------------------------*HOME PAGE*------------------------*/


/*--------------- OM MIG ------------*/
#aboutme{
    padding: 80px 0;
    color: #050505;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}
.sub-title{
   font-size: 30px;
   font-weight: 600;
   color: #090909;
}
/*----Active link----*/
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size:  18px;
    font-weight:500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
/*----Active link----*/
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #880b32de;
    font-size: 14px;
}


/*--------------- OM MIG ------------*/
